<footer>
        <div class="container">
            <div class="row">
            	<div class="col-md-3">
            		<h1 class="footer-logo">Express Delivery</h1>
            	</div>
            	<div class="col-md-2 text-center">
            			<i class="fa fa-map"></i><br>
                    	<div>234 Wall Street<br>East Newyork, NY 20001</div>
            	</div>
            	<div class="col-md-2 text-center">
            		<i class="fa fa-mobile" aria-hidden="true"></i><br>
                    <div>1800 1234 5678<br>(080) 1234 56789</div>
            	</div>
            	<div class="col-md-2 text-center">
            		<i class="fa fa-envelope"></i><br>
                    	<div>
                          	<a href="#">sales@yourcompany.com</a><br>
                          	<a href="#">www.yourcompany.com</a>
                        </div>
            	</div>
            	<div class="col-md-3">
            		<div class="footer-social">
    	                    <a href="#"><i class="fa fa-linkedin"></i></a>
    	                    <a href="#"><i class="fa fa-facebook"></i></a>
    	                    <a href="#"><i class="fa fa-twitter"></i></a>
    	                    <a href="#"><i class="fa fa-dribbble"></i></a>
    	                    <a href="#"><i class="fa fa-google-plus"></i></a>
    	                    <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
            	</div>
            </div>
        </div>
</footer>
