<section class="intro">
<div class="container-fluid">
	<nav class="navbar navbar-transparent" data-spy="affix" data-offset-top="60">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Express Delivery
          <!--	<img src="../../../assets/img/logo.png"/>-->
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">Servicios</a></li>
            <li><a [routerLink]="['#contacto']">Contacto</a></li> 
          <li><a href="#" class="btn btn-default">Empleado</a></li>
           <li><a href="#" class="btn btn-default">Empleador</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="banner-caption text-center">
        	<h1>Rápido y Eficiente</h1>
        	<p>Si invertimos en centros logísticos, mejoramos la infraestructura y creamos un entorno facilitador.</p>
        	<div class="action-box"><a href="#" class="btn btn-transparent">Contactanos</a></div>
        </div>
</div>
</section>