/*----Intro Section----*/
.intro{
    float:left;
    width:100%;
    height: 80vh;
    background: url(../../../../assets/img/intro-banner.jpg) no-repeat;
    background-size:cover; 
    position: relative;

}
.intro:before{
  content:" ";
  display: block;
  background: rgba(0,0,0,0.6);
  width:100%;
  position: absolute;
  height: 100%
}

.intro .navbar-brand{
  font-family: 'Merriweather', serif;
}
.navbar-brand > img{
    max-width: 120px;
}
.navbar-nav{
    flex-direction: row;
}
.navbar-transparent{
    margin:30px 0;
    text-transform:uppercase;
}
.navbar > .container, .navbar > .container-fluid{
    flex-wrap: nowrap;
}

.navbar-transparent.affix {
    background: #fff;
    border-radius: 0;
    left: 0;
    top: -30px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3)
}
.navbar-transparent.affix li a{
    color: #232323
}
.navbar-transparent li a{
    padding:20px 25px 18px;
    color:#efefef;
    font-weight:600;
}
.navbar-transparent li a:hover, .navbar-transparent li a:focus{
    color:#9c3333;
    background:none;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
  color:#fff;
    background: #9c3333;
}

.navbar-transparent .navbar-nav li .dropdown-menu{
  background: #00D36C;
  text-transform: none;
  padding: 0
}

.navbar-transparent .navbar-nav li .dropdown-menu li a{
  font-weight: 100;
    padding: 6px 20px;
    font-size: 14px;
}
.navbar-transparent .navbar-nav li .dropdown-menu li a:hover{
  color: #fff;
    background: #9c3333;
}

.navbar-transparent li a.btn-default{
    background:#9c3333;
    padding:8px 20px;
    border-radius:50px;
    margin-top:10px;
    border:none;
    color:#fff;
}
.navbar-transparent .navbar-brand{
    padding:0;
    line-height:60px;
    color:#9c3333;
}

.intro .banner-caption {
    color: #fff;
    margin-top: 10%;
    padding: 0 20%;
    position: relative;
}

.intro .banner-caption h1{
  font-size: 60px;
  margin-bottom:25px;
}
.intro .banner-caption p{
  font-size: 18px;
  text-transform: none;
  margin-bottom:25px;
  padding-left: 10%;
  padding-right: 10%
}
.intro .btn{
  padding: 7px 25px;
  font-size: 15px;
  margin:0 10px;
}
/*---------- Responsive Model ----------*/

@media(max-width: 1024px) {
    .intro{
        height:100vh;
    }
    .intro .navbar-toggle{
        border: 2px solid #9c3333;
    }
    .intro .navbar-toggle .icon-bar{
        background: #9c3333;
    }
    .navbar-transparent li a{
        padding: 20px 14px 18px;
    }
    .intro .banner-caption{
        padding:0 5%;
    }
}

@media(max-width: 767px) {
    .intro .banner-caption h1{
      font-size: 35px;
      margin-bottom:25px;
    }
    .intro .nav > li {
    /*background: #2E64FEnone repeat scroll 0 0;
    float: left;*/
    margin: 0.5%;
    text-align: center;
    /*width: 49%;*/
    }
    .intro .banner-caption{
        padding:0 5%;
    }
   
}

