/*----Quick Services----*/

.quick-services{
	float: left;
	width:100%;
	position: relative;
	padding-bottom:60px;
}
.quick-services .box{
	position: relative;
	background: #fff;
	margin-top:-60px;
	padding: 30px 0 30px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.2)
}
.quick-services .box:hover{
	box-shadow: 0px 2px 10px rgba(0,0,0,0.2)	
}
.quick-services .box img{
	display: inline-block;
}
.quick-services h2{
	font-size: 25px; 
}
.quick-services p{
	padding:0 40px;
}
 
 