/*----Quick Services----*/

.quick-services{
	float: left;
	width:100%;
	position: relative;
	padding-bottom:60px;
}
.quick-services .box{
	position: relative;
	background: #fff;
	margin-top:-60px;
	padding: 30px 0 30px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.2)
}
.quick-services .box:hover{
	box-shadow: 0px 2px 10px rgba(0,0,0,0.2)	
}
.quick-services .box img{
	display: inline-block;
}
.quick-services h2{
	font-size: 25px;
	color: #9c3333;
}
.quick-services p{
	padding:0 40px;
}
.quick-services a{
	color: #232323;
    font-family: "Merriweather",serif;
    font-size: 15px;
    font-weight: 700;
}

.quick-services .secondary-content h2{
    font-size: 26px;
    margin-top: 45px;
    text-transform: uppercase;
}
.quick-services .secondary-content small{
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    margin-bottom: 30px;
    margin-top: 7px;
    padding: 0 20%;
    text-transform: none;
}
.quick-services .secondary-content ul{
    padding:0;
    list-style:none;
}
.quick-services .secondary-content ul li{
    float: left;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
    padding-left: 35px;
    position: relative;
    width: 100%;
}
.quick-services .secondary-content ul li:before{
	content:"\f058";
	font-family: FontAwesome;
	color: #00D36C;
	font-size: 25px;
    left: 0;
    position: absolute;
    top: -7px;

}

.quick-services .secondary-content blockquote{
    font-size:14px;
    padding:0 0 0 50px;
    line-height:27px;
}

.quick-services .secondary-content blockquote p{
	padding: 0;
}
