
 .form-container{
 	margin-top: 50px;
 }
.btn-default:hover{
    background-color: transparent;
    color: #9c3333;
    border:1px solid #9c3333;
}

 .ng-invalid.ng-touched:not(form){
  	border:1px solid red;
  }