<section class="form-banner">
    <div class="container">
        <div class="row"><a name="contacto"></a> 
            <div class="col-md-6 testimonial-container">
			<h2 class="text-center">Nuestros Clientes Opinan</h2> 
			    <div class="item active">
			      <div class="profile-circle text-center"><img class="img-circle" src="../../../assets/img/client-01.jpg"></div>
			              <blockquote>
			                <p><em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus."</em></p>
			                <footer>Mark Austin</footer>
			              </blockquote>
			    
			    </div> 
            </div>
            <div class="col-md-5 pull-right">
                <form class="form-box">
                    <h3 class="text-center">Solicita Nuestros Servicios</h3>
  <div class="form-group">
    <div class="col-md-6">
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nombre">
    </div>
    <div class="col-md-6">

    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Apellido">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Teléfono">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Empresa">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
        <select class="form-control">
            <option>Localidad</option>
            <option>option 2</option>
            <option>option 3</option>
            <option>option 4</option>
        </select>    
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
        <select class="form-control">
            <option>Peso</option>
            <option>option 2</option>
            <option>option 3</option>
            <option>option 4</option>
        </select>    
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-12">
  <button type="submit" class="btn btn-lg btn-default btn-block">Enviar</button>
  </div>
  </div>
</form>
            </div>
        </div>
    </div>
</section>
