 /*---- Form Banner ----*/
.form-banner{
    float:left;
    width:100%; 
    padding:75px 0;
    background-size:cover;
    position: relative;
}
 

.img-circle{
	max-width: 200px;
	margin-top: 20px;
	border: 4px solid gray;
}
.btn-default:hover{
    background-color: transparent;
    color: #9c3333;
    border:1px solid #9c3333;
}
